<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Details</title>
</head>
<body>
    <h1>Welcome, {{ employee.last_name }}</h1> </h1>
    <h2>These are your information</h2>
    <p>
        {{ employee.title }} {{ employee.first_name }}, {{ employee.last_name }}
        {{ employe.birthdate }}
        {{ employe.hire_date }}
        {{ employe.address }}
        {{ employe.city }}
        {{ employe.region }}
        {{ employe.country }}
        {{ employe.home_page }}
        {{ employe.notes }}
        {{ employe.reports_to }}

    </p>
</body>
</html>